.topCategories__container {

    padding: 1rem;
    max-width: 100vw;
    margin-top: 4rem;
    margin-bottom: 6rem;

    .topCategories__wrapper {

        .section__header {

            max-width: 36rem;
            color: $cool-blue-gray;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 4rem;
    
            .header__title {
                font-size: calc(24px + 4 * ((100vw - 168px) / (468 - 168)));
                margin-bottom: 0.65rem;
                
                span {
                    color: $blue-lt;
                }
            }
    
        }

        .categoriesContent__container {

            display: flex;
            flex-direction: column;
            gap: 2rem;

            .categoryCard {

                background-color: $bg-hero;
                padding: 1rem 1rem 2rem 1rem;
                border-radius: 0.25rem;
                box-shadow: 1px 1px 5px $bg-seconary;

                h2 {
                    font-family: $primary-font-stack;
                    text-transform: uppercase;
                    color: $cool-blue-gray-variant;
                    margin-bottom: 0.35rem;
                }

                .category__description {
                    font-weight: 200;
                    color: $cool-blue-gray;
                    margin-bottom: 4rem;
                }

                a {
                    text-decoration: none;
                    background: $pink-gradient;
                    padding: 0.5rem 1rem;
                    color: $blue-lt;
                    text-shadow: 1px 1px 2px $bg-seconary;
                    text-transform: uppercase;
                    border-radius: 0.85rem;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: $color-primary;
                        background: $pink-gradient-variant;
                    }
                    
                }
            }
        }
    
        
    }
    
}